@font-face {
    font-family: 'Fira Sans';
    src: url('fonts/FiraSans/FiraSans-Light.ttf');
    src: url('fonts/FiraSans/FiraSans-Light.eot');
    src: url('fonts/FiraSans/FiraSans-Light.eot?#iefix') format('embedded-opentype'),
    url('fonts/FiraSans/FiraSans-Light.woff2') format('woff2'),
    url('fonts/FiraSans/FiraSans-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Fira Sans';
    src: url('fonts/FiraSans/FiraSans-Regular.ttf');
    src: url('fonts/FiraSans/FiraSans-Regular.eot');
    src: url('fonts/FiraSans/FiraSans-Regular.eot?#iefix') format('embedded-opentype'),
    url('fonts/FiraSans/FiraSans-Regular.woff2') format('woff2'),
    url('fonts/FiraSans/FiraSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'Fira Sans';
    src: url('fonts/FiraSans/FiraSans-Medium.ttf');
    src: url('fonts/FiraSans/FiraSans-Medium.eot');
    src: url('fonts/FiraSans/FiraSans-Medium.eot?#iefix') format('embedded-opentype'),
    url('fonts/FiraSans/FiraSans-Medium.woff2') format('woff2'),
    url('fonts/FiraSans/FiraSans-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'Fira Sans';
    src: url('fonts/FiraSans/FiraSans-Bold.ttf');
    src: url('fonts/FiraSans/FiraSans-Bold.eot');
    src: url('fonts/FiraSans/FiraSans-Bold.eot?#iefix') format('embedded-opentype'),
    url('fonts/FiraSans/FiraSans-Bold.woff2') format('woff2'),
    url('fonts/FiraSans/FiraSans-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

