html, body {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    font: 14px/1.4 $font-main;
    font-weight: 300;
    letter-spacing: .02em;
    color: $color-main;
}

.main-container {
    position: relative;
    min-width: 1200px;
    min-height: 100%;
    height: calc(100vh - (90px + 72px));
}

.container {
    position: relative;
    width: 1200px;
    height: 100%;
    margin: auto;
    
    &_narrow {
        width: 960px;
    }
}

main {
    flex-grow: 2;
    background: url(../images/bg/gplaypattern.png);
}

*, *::before, *::after { box-sizing: inherit; }

a {
    text-decoration: none;
}

