@mixin content() {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    background-color: $color-main;
}

@mixin media-lg(){
    @media screen and (min-width: 1280px) {
        @content;
    }
}

@mixin media-1280(){
    @media screen and (max-width: 1280px) {
        @content;
    }
}

@mixin media-1100(){
    @media screen and (max-width: 1100px) {
        @content;
    }
}

@mixin media-1024(){
    @media screen and (max-width: 1024px) {
        @content;
    }
}

@mixin media-900(){
    @media screen and (max-width: 900px) {
        @content;
    }
}

@mixin media-800(){
    @media screen and (max-width: 800px) {
        @content;
    }
}


@mixin media-600(){
    @media screen and (max-width: 600px) {
        @content;
    }
}

@mixin media-450(){
    @media screen and (max-width: 450px) {
        @content;
    }
}

@mixin media-400(){
    @media screen and (max-width: 400px) {
        @content;
    }
}
@mixin media-375(){
    @media screen and (max-width: 375px) {
        @content;
    }
}

@mixin media-350(){
    @media screen and (max-width: 350px) {
        @content;
    }
}