$font-main: 'Fira Sans';

$color-main: rgba(114, 114, 114, 255);
$color-dark: #212121;
$color-lightGray: #f6f7f2;
$color-green: #8cc34b;
$color-white: #fff;

$box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.2);

