.article {
	display: flex;
	justify-content: center;
	
	&-wrap {
		display: flex;
		justify-content: space-between;
		
		&.info-wrap {
			margin-left: 10px;
			margin-right: 36px;
		}
	}
	
	&-ttl {
		margin: 0 0 8px 0;
		font-size: 21px;
		font-weight: 400;
		color: $color-dark;
	}
	
	&-txt {
		line-height: 1.5;
		letter-spacing: -0.01em;
	}
	&-content-wrap { width: 275px; }
	
	&-image-wrap {padding-right: 20px;}
	
	&-image {
		width: 140px;
	}
}

.course {
	&-item {
		position: relative;
		display: inline-block;
		vertical-align: top;
		width: 300px;
		margin: 10px 8px;
		background: #fff;
		box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.2);
		transition: .5s;
		
		&:hover {
			.course-image-wrap {
				border-bottom: 5px solid $color-green;
			}
			.course-ttl { color: $color-green;}
			
		}
		
		&.course-viewed { box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0);
			&::after {
				height: 100%;
			}
			.course-image-wrap {
				border-bottom: 5px solid transparent;
			}
			.course-ttl { color: initial;}
			
			.checkbox-label { color: $color-green; }
	
		}
		
		&::after {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 0;
			display: block;
			background: rgba(237, 245, 227, .4);
			transition: height .5s;
		}
	}
	
	&-image-wrap {
		width: 100%;
		height: 164px;
		border-bottom: 5px solid transparent;
		transition: border .8s;
		
		&.js-bg { background: url("../images/bg/js-bg.jpeg") no-repeat; background-size: cover; }
		&.jquery-bg { background: url("../images/bg/jquery-bg.jpeg") no-repeat; background-size: cover; }
		&.base-bg { background: url("../images/bg/base-bg.jpeg") no-repeat; background-size: cover; }
		&.adaptive-bg { background: url("../images/bg/adaptive-bg.jpeg") no-repeat; background-size: cover; }
		&.gallery-bg { background: url("../images/bg/gallery-bg.jpeg") no-repeat; background-size: cover; }
		&.css-bg { background: url("../images/bg/css-bg.jpeg") no-repeat; background-size: cover; }
	}
	
	&-ttl { @extend .article-ttl; margin-bottom: 10px; transition: color .5s; }
	
	&-inner {
		padding: 20px 20px 0;
	}
	
	&-status {
		display: flex;
		align-items: center;
		height: 60px;
		padding: 0 20px;
		background: $color-lightGray;
	}
	
	&-time, &-duration { display: inline-block; padding: 15px 5px 15px 0; color: rgb(182, 182, 182); }
	&-time { position: relative;  padding-left: 20px;
		&::before {
			content: '\01F552';
			position: absolute;
			top: -16px;
			left: 0;
			bottom: 0;
			margin: auto;
			display: block;
			width: 4px;
			height: 4px;
			opacity: .3;
		}
	}
}

.checkbox { display: none;
	&:checked + span {
		background: $color-green;
		border: 2px solid $color-green;
		
		&::before {
			transform: rotate(45deg) scale(1.5);
		}
	}
	&-ico {
		position: absolute;
		left: 0;
		top: 0;
		bottom: 0;
		margin: auto;
		display: inline-block;
		width: 20px;
		height: 20px;
		background: #fff;
		border: 2px solid #b6b6b6;
		transition: background .5s;
		
		&::before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			margin: auto;
			display: block;
			width: 3px;
			height: 6px;
			border: solid #fff;
			border-width: 0 2px 2px 0;
			transform: rotate(45deg) scale(.5);
			transition: transform .3s ease-in;
		}
	}
	
	&-label {
		position: relative;
		padding-left: 40px;
		font-size: 18px;
		font-weight: 400;
		cursor: pointer;
	}
}

.passed-txt {
	display: none;
	font-size: 40px;
	font-weight: 400;
	text-align: center;
	color: $color-green;
}