.header {
    position: relative;
    background: $color-green;
    box-shadow: $box-shadow;
    
    &-inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 15px 30px;
    }
}

.social {
    &-wrap {
        position: relative;
        display: flex;
        list-style-type: none;
    }
    &-item {
        position: relative;
        width: 30px;
        height: 30px;
        display: block;
        margin: 0 10px;
    }
    &-link {
        display: block;
        width: 100%;
        height: 100%;
        opacity: .6;
        color: transparent;
        transition: opacity .5s;
        
        &.git-ico { background: url("../images/ico/git.svg") 50% 50% no-repeat; background-size: contain;}
        &.skype-ico { background: url("../images/ico/sk.svg") 50% 50% no-repeat; background-size: contain;}
        &.vk-ico { width: 40px; background: url("../images/ico/vk.svg") 50% 50% no-repeat; background-size: contain;}
        
        
        &:hover {
            opacity: 1;
        }
    }
}

.about{
   &-wrap {
       display: flex;
       align-items: center;
   }
    &-photo {
        position: relative;
        width: 60px;
        height: 60px;
        margin-right: 20px;
        overflow: hidden;
        border-radius: 100%;
        border: 2px solid $color-white;
        box-sizing: border-box;
    }
    
    &-title {
        margin: 0;
        font-weight: 500;
        letter-spacing: -.003em;
        color: $color-white;
    }
    
    &-mail {
        font-weight: 400;
        color: $color-white;
    }
}

