.section {padding: 84px 0 75px 0;
	&-ttl {
		margin: 0 0 10px 0;
		font-weight: 500;
		font-size: 42px;
		text-align: center;
		line-height: 0.662;
		color: $color-dark;
		
	}
	&-subttl {
		margin-bottom: 36px;
		font-size: 21px;
		font-weight: 300;
		text-align: center;
		letter-spacing: .003em;
		
	}
	
	&_white {
		background: #fff;
	}
	
	&_course { padding-bottom: 70px;
		.article-wrap { display: block; }

	}
}