doctype html
html(lang="ru-RU")
	head
		meta(charset='utf-8')
		meta(name='viewport', content='width= 1220, initial-scale=1,maximum-scale=1')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		title Быстров Борис
		link(rel='stylesheet', href='styles/main.css')

		body
			.main-container
				header.header
					.header-inner.container
						.about-wrap
							.about-photo
								img(src="images/bystrov-photo.jpeg" class="about-img" alt="Фото Быстрова Бориса Викторовича")
							.about-text
								h2.about-title Быстров Борис Викторович
								a(href="mailto:bystrov@gmail.com" class="about-mail", title="Написать Быстрову Борису") bystrov@gmail.com
						ul.social-wrap
							li.social-item
								a(href="#" class="social-link git-ico" title="Git")
									|Git
							li.social-item
								a(href="#" class="social-link skype-ico" title="Skype")
									| Skype
							li.social-item
								a(href="#" class="social-link vk-ico" title="ВКонтакте")
									| ВКонтакте
				main.main
					section.section.section_white
						.container.container_narrow
							h2.section-ttl
								| О будущем ученике
							h3.section-subttl
								| Ребятам из Loftschool будет полезно узнать немного обо мне
							.article-wrap.info-wrap
								article.article
									.article-image-wrap
										embed(src="images/ico/hello.svg" class="article-image")
									.article-content-wrap
										h4.article-ttl
											| Немного обо мне
										.article-txt
											| Я живу в Санкт-Петербурге (Россия). Мне 26 лет. Высшее образование - закончил НИУ ИТМО. Опыт в разработке 1 год. Уже окончил курсы в Академии Программирования, где не плохо научился верстать.
											| #[br] Пока есть только один сайт, которым могу похвастаться:
											a(href="www.yandex.ru", target="_blank", title="Yandex") www.yandex.ru
								article.article
									.article-image-wrap
										embed(src="images/ico/experience.svg" class="article-image")
									.article-content-wrap
										h4.article-ttl
											| Мой опыт в разработке
										.article-txt
											| В этом блоке я расскажу о себе, что я уже умею. Здесь я укажу другие курсы, которые до этого я уже проходил. Могу перечислить технологии, которыми уже умею пользоваться. К примеру: html5, css3, sass, jade, git и пр.

					.container.container_narrow
						section.section.section_course
							h2.section-ttl
								| Курсы на loftblog
							h3.section-subttl
								| которые мне помогут в выполнении этого задания
							.article-wrap
								p.passed-txt Задание выполнено!
								mixin course(bg, title, text, time, duration)
									article.article.course-item
										div(class='course-image-wrap '+bg)
										.course-inner
											h4.course-ttl= title
											.course-txt= text
											span.course-time= time
											span.course-duration= duration
										.course-status
											label.checkbox-label Посмотрел
												input.checkbox(type='checkbox', name='course-status', value='viewed')
												span.checkbox-ico

								+course('js-bg','Основы JavaScript', 'Видеокурс о одном из самых популярных языков программирования - JavaScript. Изучая этот курс вы познаете этот прекрасный язык от самых основ.', '24 урока', '(6 часов 46 минут)')
								+course('jquery-bg','Основы JQUERY', 'Видеокурс о одном из самых популярных языков программирования - JavaScript. Изучая этот курс вы познаете этот прекрасный язык от самых основ.', '11 уроков', '(2 часа 6 минут)')
								+course('base-bg','Базовые элементы страницы', 'Видеокурс по верстке и программированию основных и популярных элементов сайтов. Посмотрев этот курс вы научитесь создавать табы, аккордеон, слайдшоу, слайдер и т.д.', '9 уроков', '(2 часа 7 минут)')
								+course('adaptive-bg','Создание адаптивных сайтов', 'В этом курсе вы узнаете как создавать адаптивные сайты, что такое адаптивная верстка и дизайн.', '7 уроков', '(2 часа 11 минут)')
								+course('gallery-bg','Верстка адаптивной css галереи', 'В этом видеокурсе вы изучите инструменты, техники и подходы для web-разработчика, которые помогут вам решать поставленные задачи более быстро и эффективно.', '6 уроков', '(1 час 9 минут)')
								+course('css-bg','Верстка адаптивной css галереи', 'В этом курсе мы разберем как сверстать адаптивную css галерею. Также познакомимся с Flexbox.', '4 урока', '(50 минут)')
				footer.footer
					.container
						.footer-txt
							| А это футер, с текстом внутри. Он должен быть прибит к низу окна браузера, не зависимо от количества контента на странице и размера окна.

			script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')
			script.
				window.jQuery || document.write('<script src="scripts/vendor/jquery-3.3.1.min.js"><\\/script>')
			script(src='scripts/main.js')